<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917319441883-tacu733s73qabpft6qnlhlvrpi71h2t6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917319441883-tacu733s73qabpft6qnlhlvrpi71h2t6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>917319441883-a86rvbn6hsmall9kbtkvdld22glvafcf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDnovndDzOG6m-bJlTtA8YhvIUAfKg0dk</string>
	<key>GCM_SENDER_ID</key>
	<string>756089115715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qurany</string>
	<key>PROJECT_ID</key>
	<string>qurany-6d394</string>
	<key>STORAGE_BUCKET</key>
	<string>qurany-6d394.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756089115715:ios:d74fd6d8cbfb92421bf0f6</string>
</dict>
</plist>