<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19186387012-vtu4esfenqrpo2st6ug7718022nbb4b1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19186387012-vtu4esfenqrpo2st6ug7718022nbb4b1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>19186387012-53vegvf6ipvn4bt1cncjc6dnv6hgpuj5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhG6ZpWK_fUeCUSwOLXHGeePiovdDgeME</string>
	<key>GCM_SENDER_ID</key>
	<string>19186387012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qurany</string>
	<key>PROJECT_ID</key>
	<string>qurany-b80ee</string>
	<key>STORAGE_BUCKET</key>
	<string>qurany-b80ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19186387012:ios:2af15578945adf561b9411</string>
</dict>
</plist>